<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<%= link_to '[ Home ]', root_path %>

    <% @posts.each do |post| %>
      <%= link_to post.title, post %><br>
    <% end %>

<br>

<% if session? %>
<%= link_to 'New Post', new_post_path %><br>
<% end %>
