#bubble {
  background-color: #FFFFFF;
  margin: 80px 10%;
  padding: 30px 60px;
  border-radius: 20px;
  box-shadow: 0 3px 4px 0 rgba(50,50,93,0.10), 0 3px 26px 0 rgba(0,0,0,0.20);
    max-width: 115ch;
}

body {
     background-color: #434343ff !important;
}
